# Binaries for programs and plugins
*.log
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

# Files to exclude
bin/
etc/lumiwavecerti.crt
etc/lumiwavecerti.key
etc/conf/
etc/IP2LOCATION-LITE-DB1.BIN
rest_server/__debug_bin
